@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/theme';

button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: center;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed; 
  }
}

.custom-button {
  @include padding-size($spacing-sm); 
  @include font-size($font-size-base);
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: $spacing-sm;
  cursor: pointer;

  &.box-shadow-none {
    @include box-shadow('none');
  }

  &.box-shadow-xs {
    @include box-shadow('xs');
  }

  &.box-shadow-md {
    @include box-shadow('md');
  }

  &.box-shadow-lg {
    @include box-shadow('lg');
  }

  &.box-shadow-xl {
    @include box-shadow('xl');
  }

  &.border-radius-none {
    @include border-radius('none');
  }

  &.border-radius-sm {
    @include border-radius('sm');
  }

  &.border-radius-md {
    @include border-radius('md');
  }

  &.border-radius-lg {
    @include border-radius('lg');
  }

  &.border-radius-full {
    @include border-radius('full');
  }
  
  &.loading {
    cursor: not-allowed;
  }

  &.primary {
    @include button-colors($primary,var(--primary-hover), $primary-foreground);
  }

  &.secondary {
    @include button-colors($secondary, var(--secondary-hover),$secondary-foreground);
  }

  &:focus {
    outline: $border-width-base solid $foreground; 
    outline-offset: $offset-base; 
  }

  .button-loader {
    display: inline-block;
    width: $width-base;
    height: $height-base;
    border: $border-width-base solid $foreground;
    border-radius: $border-radius-full;
    border-top: $border-width-base solid transparent;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
