@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/theme';

button {
  all: unset; // Remove all default styles
  display: inline-block; // Ensure proper box model for button
  box-sizing: border-box; // Ensure padding and borders don't affect width
  cursor: pointer; // Pointer cursor for clickable buttons
  background: none; // Remove default background
  border: none; // Remove default border
  padding: 0; // Remove padding
  margin: 0; // Remove margin
  font: inherit; // Inherit font styles from parent
  color: inherit; // Inherit text color
  text-align: center; // Center text

  &:focus {
    outline: none; // Remove focus outline
    box-shadow: none; // Remove box shadow from focus
  }
}



.custom-button {
  border-radius: $border-radius-md;

  &.primary {
    @include button-colors($light-primary, $light-primary-foreground, $light-foreground);
  }

  &.secondary {
    @include button-colors($light-secondary, $light-secondary-foreground, $light-foreground);
  }

  &.small {
    padding: $spacing-xs $spacing-sm;
    @include font-size($font-size-sm);
  }

  &.medium {
    padding: $spacing-sm $spacing-md;
    @include font-size($font-size-base);
  }

  &.large {
    padding: $spacing-md $spacing-lg;
    @include font-size($font-size-lg);
  }
   .button-icon {
    margin-right: $spacing-sm;
    margin-top: $spacing-lg;
  }

 
}