@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/theme';

button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: center;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed; 
  }
}

.custom-button {
  border-radius: $border-radius-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: $spacing-sm;
  cursor: pointer;

  &.loading {
    cursor: not-allowed; 
  }

  &.primary {
    @include button-colors($light-primary, $light-primary-foreground, $light-foreground);
  }

  &.secondary {
    @include button-colors($light-secondary, $light-secondary-foreground, $light-foreground);
  }

  &.small {
    padding: $spacing-xs $spacing-sm;
    @include font-size($font-size-sm);
  }

  &.medium {
    padding: $spacing-sm $spacing-md;
    @include font-size($font-size-base);
  }

  &.large {
    padding: $spacing-md $spacing-lg;
    @include font-size($font-size-lg);
  }

  .button-icon {
    margin-right: $spacing-sm;
  }

  .button-text {
    margin-left: $spacing-sm;
  }

  .button-loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid $light-foreground;
    border-radius: 50%;
    border-top: 2px solid transparent;
    animation: spin 1s linear infinite;
    margin-right: $spacing-sm;
  }
  &.icons {
    padding: 0;
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-xs;

    .button-icon {
      margin-right: 0;
      width: 24px;  
      height: 24px;
    }

    .button-text {
      display: none;  
    }
  }
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

