@import '../../styles/_variables.scss';

.chart-container {
  display: flex;
  justify-content: center;
  aspect-ratio: 16 / 9;
  font-size: 0.75rem;

  &[data-chart] {
    .recharts-cartesian-axis-tick text {
      fill: var(--muted-foreground);
    }

    .recharts-cartesian-grid_line {
      stroke: var(--border), rgba(0, 0, 0, 0.5);
    }

    .recharts-curve.recharts-tooltip-cursor,
    .recharts-rectangle.recharts-tooltip-cursor {
      stroke: var(--border);
      fill: var(--muted);
    }

    .recharts-dot,
    .recharts-sector {
      stroke: transparent;
    }

    .recharts-layer,
    .recharts-sector,
    .recharts-surface {
      outline: none;
    }

    .recharts-polar-grid_,
    .recharts-reference-line_ {
      stroke: var(--border);
    }

    .recharts-radial-bar-background-sector {
      fill: var(--muted);
    }
  }
}

.chart-tooltip {
  display: grid;
  min-width: 8rem;
  align-items: start;
  gap: 0.375rem;
  border-radius: 0.5rem;
  border: 1px solid rgba($border, 0.5);
  background-color: $background;
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .tooltip-content {
    display: grid;
    gap: 0.375rem;

    .tooltip-item {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 0.5rem;

      svg {
        height: 0.625rem;
        width: 0.625rem;
        color: $muted-foreground;
      }

      &.centered {
        align-items: center;
      }

      .indicator {
        flex-shrink: 0;
        border-radius: 2px;
        border: $border;
        background-color: $background;

        &.dot {
          height: 0.625rem;
          width: 0.625rem;
        }

        &.line {
          width: 0.25rem;
        }

        &.dashed {
          width: 0;
          border: 1.5px dashed;
          background-color: transparent;

          &.nested {
            margin: 0.125rem 0;
          }
        }
      }

      .tooltip-label {
        font-weight: 500;
      }

      .tooltip-text {
        display: flex;
        flex: 1;
        justify-content: space-between;
        line-height: 1;
        align-items: center;

        &.nested {
          align-items: end;
        }

        .label-group {
          display: grid;
          gap: 0.375rem;
        }

        .tooltip-label {
          color: $muted-foreground;
        }

        .tooltip-value {
          font-family: monospace;
          font-weight: 500;
          color: $foreground;
        }
      }
    }
  }
}

.payload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &.top-align {
    padding-bottom: 0.75rem;
  }

  &.bottom-align {
    padding-top: 0.75rem;
  }

  .payload-item {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    svg {
      height: 0.75rem;
      width: 0.75rem;
      color: $muted-foreground;
    }

    .box {
      height: 0.5rem;
      width: 0.5rem;
      flex-shrink: 0;
      border-radius: 2px;
      background-color: inherit;
    }
  }
}
