// Light Theme Colors
$light-background: hsl(0, 0%, 100%);
$light-foreground: hsl(222.2, 84%, 4.9%);
$light-card: hsl(0, 0%, 100%);
$light-card-foreground: hsl(222.2, 84%, 4.9%);
$light-popover: hsl(0, 0%, 100%);
$light-popover-foreground: hsl(222.2, 84%, 4.9%);
$light-primary: hsl(221.2, 83.2%, 53.3%);
$light-primary-foreground: hsl(210, 40%, 98%);
$light-secondary: hsl(210, 40%, 96.1%);
$light-secondary-foreground: hsl(222.2, 47.4%, 11.2%);
$light-muted: hsl(210, 40%, 96.1%);
$light-muted-foreground: hsl(215.4, 16.3%, 44%);
$light-accent: hsl(210, 40%, 96.1%);
$light-accent-foreground: hsl(222.2, 47.4%, 11.2%);
$light-destructive: hsl(0, 72%, 51%);
$light-destructive-foreground: hsl(210, 40%, 98%);
$light-border: hsl(214.3, 31.8%, 91.4%);
$light-border-focus: hsla(221, 83%, 53%, 0.702);
$light-input: hsl(214.3, 31.8%, 91.4%);
$light-ring: hsl(221.2, 83.2%, 53.3%);
$light-chart-1: hsl(221.2, 83.2%, 53.3%);
$light-chart-2: hsl(212, 95%, 68%);
$light-chart-3: hsl(216, 92%, 60%);
$light-chart-4: hsl(210, 98%, 78%);
$light-chart-5: hsl(212, 97%, 87%);
$light-radius: 1rem;


// Dark Theme Colors
$dark-background: hsl(240, 10%, 3.9%);
$dark-foreground: hsl(0, 0%, 98%);
$dark-card: hsl(240, 10%, 3.9%);
$dark-card-foreground: hsl(0, 0%, 98%);
$dark-popover: hsl(240, 10%, 3.9%);
$dark-popover-foreground: hsl(0, 0%, 98%);
$dark-primary: hsl(221.2, 83.2%, 53.3%);
$dark-primary-foreground: hsl(210, 40%, 98%);
$dark-secondary: hsl(210, 40%, 96.1%);
$dark-secondary-foreground: hsl(222.2, 47.4%, 11.2%);
$dark-muted: hsl(240, 3.7%, 15.9%);
$dark-muted-foreground: hsl(240, 5%, 64.9%);
$dark-accent: hsl(240, 3.7%, 15.9%);
$dark-accent-foreground: hsl(0, 0%, 98%);
$dark-destructive: hsl(0, 72%, 51%);
$dark-destructive-foreground: hsl(210, 40%, 98%);
$dark-border: hsl(240, 3.7%, 15.9%);
$dark-border-focus: hsl(221, 83%, 53%, 0.702);
$dark-input: hsl(240, 3.7%, 15.9%);
$dark-ring: hsl(221.2, 83.2%, 53.3%);
$dark-chart-1: hsl(221.2, 83.2%, 53.3%);
$dark-chart-2: hsl(212, 95%, 68%);
$dark-chart-3: hsl(216, 92%, 60%);
$dark-chart-4: hsl(210, 98%, 78%);
$dark-chart-5: hsl(212, 97%, 87%);
$light-radius: 1rem;

@layer base {
  html[data-theme='light'] {
    --background: #{$light-background};
    --foreground: #{$light-foreground};
    --card: #{$light-card};
    --card-foreground: #{$light-card-foreground};
    --popover: #{$light-popover};
    --popover-foreground: #{$light-popover-foreground};
    --primary: #{$light-primary};
    --primary-foreground: #{$light-primary-foreground};
    --secondary: #{$light-secondary};
    --secondary-foreground: #{$light-secondary-foreground};
    --muted: #{$light-muted};
    --muted-foreground: #{$light-muted-foreground};
    --accent: #{$light-accent};
    --accent-foreground: #{$light-accent-foreground};
    --destructive: #{$light-destructive};
    --destructive-foreground: #{$light-destructive-foreground};
    --border: #{$light-border};
    --border-focus: #($light-border-focus);
    --input: #{$light-input};
    --ring: #{$light-ring};
    --radius: #{$light-radius};
    --chart-1: #{$light-chart-1};
    --chart-2: #{$light-chart-2};
    --chart-3: #{$light-chart-3};
    --chart-4: #{$light-chart-4};
    --chart-5: #{$light-chart-5};
  }

  html[data-theme='dark'] {
    --background: #{$dark-background};
    --foreground: #{$dark-foreground};
    --card: #{$dark-card};
    --card-foreground: #{$dark-card-foreground};
    --popover: #{$dark-popover};
    --popover-foreground: #{$dark-popover-foreground};
    --primary: #{$dark-primary};
    --primary-foreground: #{$dark-primary-foreground};
    --secondary: #{$dark-secondary};
    --secondary-foreground: #{$dark-secondary-foreground};
    --muted: #{$dark-muted};
    --muted-foreground: #{$dark-muted-foreground};
    --accent: #{$dark-accent};
    --accent-foreground: #{$dark-accent-foreground};
    --destructive: #{$dark-destructive};
    --destructive-foreground: #{$dark-destructive-foreground};
    --border: #{$dark-border};
    --border-focus: #($dark-border-focus);
    --input: #{$dark-input};
    --ring: #{$dark-ring};
    --chart-1: #{$dark-chart-1};
    --chart-2: #{$dark-chart-2};
    --chart-3: #{$dark-chart-3};
    --chart-4: #{$dark-chart-4};
    --chart-5: #{$dark-chart-5};
  }
}
