// Light Theme Colors
$light-background: #ffffff; // White
$light-foreground: #3a3a3a; // Dark Gray
$light-card: #ffffff; // White
$light-card-foreground: #3a3a3a; // Dark Gray
$light-popover: #ffffff; // White
$light-popover-foreground: #3a3a3a; // Dark Gray
$light-primary: #3578e5; // Blue
$light-primary-foreground: #d1d1d1; // Light Gray
$light-secondary: #f5f5f5; // Light Gray
$light-secondary-foreground: #3a3a3a; // Dark Gray
$light-muted: #f5f5f5; // Light Gray
$light-muted-foreground: #4b4b4b; // Darker Gray
$light-accent: #f5f5f5; // Light Gray
$light-accent-foreground: #3a3a3a; // Dark Gray
$light-destructive: #ff3b30; // Red
$light-destructive-foreground: #d1d1d1; // Light Gray
$light-border: #d6d6d6; // Light Gray
$light-input: #d6d6d6; // Light Gray
$light-ring: #3578e5; // Blue
$light-radius: 1rem;
$light-chart-1: #f0b084; // Light Orange
$light-chart-2: #b1cfc3; // Light Teal
$light-chart-3: #a5c2c8; // Light Blue
$light-chart-4: #6f9d8e; // Light Green
$light-chart-5: #e4d76c; // Light Yellow

// Dark Theme Colors
$dark-background: #3a3a3a; // Dark Gray
$dark-foreground: #d1d1d1; // Light Gray
$dark-card: #3a3a3a; // Dark Gray
$dark-card-foreground: #d1d1d1; // Light Gray
$dark-popover: #3a3a3a; // Dark Gray
$dark-popover-foreground: #d1d1d1; // Light Gray
$dark-primary: #e6d4c7; // Light Beige
$dark-primary-foreground: #3a3a3a; // Dark Gray
$dark-secondary: #353535; // Darker Gray
$dark-secondary-foreground: #d1d1d1; // Light Gray
$dark-muted: #353535; // Darker Gray
$dark-muted-foreground: #a3a3a3; // Gray
$dark-accent: #353535; // Darker Gray
$dark-accent-foreground: #d1d1d1; // Light Gray
$dark-destructive: #b33333; // Darker Red
$dark-destructive-foreground: #d1d1d1; // Light Gray
$dark-border: #353535; // Darker Gray
$dark-input: #353535; // Darker Gray
$dark-ring: #b0b0b0; // Gray
$dark-chart-1: #b0c4d1; // Light Slate
$dark-chart-2: #a5b4c1; // Slate Gray
$dark-chart-3: #d9c9a2; // Light Tan
$dark-chart-4: #9969b8; // Purple
$dark-chart-5: #e59dc4; // Light Pink

@layer base {
  html[data-theme='light'] {
    --background: #{$light-background};
    --foreground: #{$light-foreground};
    --card: #{$light-card};
    --card-foreground: #{$light-card-foreground};
    --popover: #{$light-popover};
    --popover-foreground: #{$light-popover-foreground};
    --primary: #{$light-primary};
    --primary-foreground: #{$light-primary-foreground};
    --secondary: #{$light-secondary};
    --secondary-foreground: #{$light-secondary-foreground};
    --muted: #{$light-muted};
    --muted-foreground: #{$light-muted-foreground};
    --accent: #{$light-accent};
    --accent-foreground: #{$light-accent-foreground};
    --destructive: #{$light-destructive};
    --destructive-foreground: #{$light-destructive-foreground};
    --border: #{$light-border};
    --input: #{$light-input};
    --ring: #{$light-ring};
    --radius: #{$light-radius};
    --chart-1: #{$light-chart-1};
    --chart-2: #{$light-chart-2};
    --chart-3: #{$light-chart-3};
    --chart-4: #{$light-chart-4};
    --chart-5: #{$light-chart-5};
  }

  html[data-theme='dark'] {
    
    --background: #{$dark-background};
    --foreground: #{$dark-foreground};
    --card: #{$dark-card};
    --card-foreground: #{$dark-card-foreground};
    --popover: #{$dark-popover};
    --popover-foreground: #{$dark-popover-foreground};
    --primary: #{$dark-primary};
    --primary-foreground: #{$dark-primary-foreground};
    --secondary: #{$dark-secondary};
    --secondary-foreground: #{$dark-secondary-foreground};
    --muted: #{$dark-muted};
    --muted-foreground: #{$dark-muted-foreground};
    --accent: #{$dark-accent};
    --accent-foreground: #{$dark-accent-foreground};
    --destructive: #{$dark-destructive};
    --destructive-foreground: #{$dark-destructive-foreground};
    --border: #{$dark-border};
    --input: #{$dark-input};
    --ring: #{$dark-ring};
    --chart-1: #{$dark-chart-1};
    --chart-2: #{$dark-chart-2};
    --chart-3: #{$dark-chart-3};
    --chart-4: #{$dark-chart-4};
    --chart-5: #{$dark-chart-5};
  }
}
