@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/typography.scss';
@import './styles/layout.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-size: $fs15;
  font-weight: $font-weight-normal;
  color: $baseColor;
  line-height: 24px;
  background: $offWhite;
  font-family: 'Poppins', sans-serif;

  @media (max-width: $xxxl) {
    font-size: $fs15 - 1;
  }

  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
    line-height: 22px;
  }

}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
  font-size: $fs15;
  @media (max-width: $xxl) {
    font-size: $fs15 - 2;
    line-height: 22px;
  }
}

.loginOuter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  @include d-flex4;
  padding: $space10 + 5;

  @media (max-width: $md) {
    height: auto;
  }
}
